.cialloCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

.leftBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
}
